<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
          <basicHttpBinding>
            <binding name="FAWAPIv2Soap" sendTimeout="00:25:00">
              <security mode="Transport" />
            </binding>
            <binding name="FAWAPIv2Soap1" sendTimeout="00:25:00" />
          </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://api.filesanywhere.com/v2/fawapi.asmx"
                binding="basicHttpBinding" bindingConfiguration="FAWAPIv2Soap"
                contract="FAWAPI.FAWAPIv2Soap" name="FAWAPIv2Soap" />
        </client>
    </system.serviceModel>
    <appSettings>
      <add key="FAUserName" value=""/>
      <add key="FAPassword" value=""/>
      <add key="FAAPIKey" value=""/>
      <add key="FARootFolder" value="/SHUBHAMGOYAL"/>
      <add key="SMTPUsername" value=""/>
      <add key="SMTPPassword" value=""/>
      <add key="Recipients" value="build_masters@espline.com"/>
      <add key="connectionstring" value="Data Source=.\SQLAVENUE;Initial Catalog=Espline_ Avenue_Release;User ID=UserName;Password=Password" />
    </appSettings>

</configuration>